@import "tailwindcss";

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/medium.otf");
}

@font-face {
  font-family: "SemiBold";
  src: url("/fonts/semibold.otf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/bold.otf");
}

* {
  scrollbar-color: var(--color-dark-100) var(--color-black);
}

:root {
  --gradient-color: linear-gradient(
    to bottom right,
    #0894ff 0%,
    #c959dd 34%,
    #ff2e54 68%,
    #ff9004
  );
}

@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: var(--color-dark-100);
  font-family: var(--font-semibold);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility h3-semibold {
  @apply font-semibold text-xl text-dark-100;
}

@utility base-semibold {
  @apply font-semibold text-base text-dark-100;
}

@utility small-medium {
  @apply font-medium text-xs;
}

@layer components {
  #product-viewer {
    .active {
      @apply ring-5 size-5 ring-light-100;
    }
  }

  #showcase {
    img {
      transform: matrix(80, 0, 0, 80, 0, 0);
    }

    @media (max-width: 1024px) {
      img {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
    }
  }

  #performance {
    .img1 {
      @apply absolute bottom-1/2 left-[23%] z-[1] max-lg:left-[33%];
    }

    .img2 {
      @apply absolute bottom-[40%] right-[17%] z-[3] max-lg:right-[37%];
    }

    .img3 {
      @apply absolute bottom-1/4 right-[15%] z-[2] max-lg:right-[35%];
    }

    .img4 {
      @apply absolute bottom-[15%] right-[10%] z-[1] max-lg:right-[30%];
    }

    .img5 {
      @apply absolute bottom-[20%] left-1/2 -translate-x-1/2 scale-150;
    }

    .img6 {
      @apply absolute bottom-1/4 left-1/4 z-[2] max-lg:left-[35%];
    }

    .img7 {
      @apply absolute bottom-[5%] left-[15%] z-[3] max-lg:left-[35%];
    }
  }

  footer {
    @apply container mx-auto py-7 max-lg:px-5;

    .info {
      @apply flex-between;

      p {
        @apply text-sm font-medium;

        span {
          @apply text-primary mx-0.5;
        }
      }
    }

    hr {
      @apply my-7 text-[#424245];
    }

    .links {
      @apply flex flex-col lg:flex-row lg:items-center justify-between max-lg:mt-5 gap-5 text-sm;

      ul {
        @apply lg:divide-x flex flex-col lg:flex-row gap-2.5;

        li {
          @apply lg:px-5 cursor-pointer hover:text-primary transition-all duration-300 ease-in-out;
        }
      }
    }
  }
}
