@import "tailwindcss";

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/medium.otf");
}

@font-face {
  font-family: "SemiBold";
  src: url("/fonts/semibold.otf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/bold.otf");
}

* {
  scrollbar-color: var(--color-dark-100) var(--color-black);
}

:root {
  --gradient-color: linear-gradient(
    to bottom right,
    #0894ff 0%,
    #c959dd 34%,
    #ff2e54 68%,
    #ff9004
  );
}

@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: var(--color-dark-100);
  font-family: var(--font-semibold);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility h3-semibold {
  @apply font-semibold text-xl text-dark-100;
}

@utility base-semibold {
  @apply font-semibold text-base text-dark-100;
}

@utility small-medium {
  @apply font-medium text-xs;
}

@layer components {
  #product-viewer {
    .active {
      @apply ring-5 size-5 ring-light-100;
    }
  }

  #showcase {
    img {
      transform: matrix(80, 0, 0, 80, 0, 0);
    }

    @media (max-width: 1024px) {
      img {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
    }
  }

  #performance {
    .img1 {
      @apply absolute bottom-1/2 left-[23%] z-[1] max-lg:left-[33%];
    }

    .img2 {
      @apply absolute bottom-[40%] right-[17%] z-[3] max-lg:right-[37%];
    }

    .img3 {
      @apply absolute bottom-1/4 right-[15%] z-[2] max-lg:right-[35%];
    }

    .img4 {
      @apply absolute bottom-[15%] right-[10%] z-[1] max-lg:right-[30%];
    }

    .img5 {
      @apply absolute bottom-[20%] left-1/2 -translate-x-1/2 scale-150;
    }

    .img6 {
      @apply absolute bottom-1/4 left-1/4 z-[2] max-lg:left-[35%];
    }

    .img7 {
      @apply absolute bottom-[5%] left-[15%] z-[3] max-lg:left-[35%];
    }
  }

  #features {
    @apply pt-40 relative;

    h2 {
      @apply text-white font-semibold text-3xl lg:text-7xl text-center max-w-3xl mx-auto;
    }

    #f-canvas {
      @apply !w-full !h-dvh relative z-40;
    }

    .box {
      @apply max-w-xs absolute;

      p {
        @apply lg:h3-semibold base-semibold;
      }
    }
  }

  #highlights {
    @apply container mx-auto lg:py-40 max-lg:px-5;

    h2 {
      @apply text-white font-semibold text-3xl lg:text-7xl text-center max-w-3xl mx-auto;
    }

    h3 {
      @apply text-[#F5F5F7] font-semibold text-xl lg:text-3xl text-center mt-10;
    }

    .masonry {
      @apply grid grid-cols-1 lg:grid-cols-2 gap-5 mt-20 text-[#F5F5F7];

      .left-column {
        @apply flex flex-col justify-between gap-5 opacity-0 -translate-y-5;

        div:first-of-type {
          @apply h-full bg-[url(/highlight-bg.png)] bg-no-repeat bg-cover p-10 2xl:pt-32 lg:pt-20 rounded-3xl;

          p {
            @apply font-semibold text-4xl max-w-2xs;
          }
        }

        p {
          @apply font-semibold text-4xl max-w-2xs;
        }

        div:last-of-type {
          @apply bg-[#1D1D1F] p-10 rounded-3xl flex items-center gap-7;

          p {
            @apply font-semibold lg:text-2xl 2xl:text-3xl;
          }
        }
      }

      .right-column {
        @apply flex flex-col justify-between gap-5 opacity-0 -translate-y-5;

        p {
          @apply font-semibold text-4xl max-w-2xs;
        }
        .apple-gradient {
          @apply p-10 rounded-3xl flex items-center gap-7 relative;

          background: #1d1d1f;
          background-clip: padding-box; /* !important */
          border: 3px solid transparent; /* !important */

          ::before {
            content: "";
            pointer-events: none;
            position: absolute;
            inset: 0px;
            z-index: -1;
            margin: -5px; /* !important */
            border-radius: 24px; /* !important */
            background: linear-gradient(
              91deg,
              #0096ff 0%,
              #bb64ff 42%,
              #f2416b 74%,
              #eb7500 100%
            );
          }

          p {
            @apply font-semibold lg:text-2xl 2xl:text-3xl;

            span {
              background: linear-gradient(
                91deg,
                #0096ff 0%,
                #bb64ff 42%,
                #f2416b 74%,
                #eb7500 100%
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        div:last-of-type {
          @apply h-full bg-[#1D1D1F] p-10 2xl:pt-32 lg:pt-20 rounded-3xl;

          p {
            @apply font-semibold text-4xl max-w-sm;

            .green-gradient {
              background: linear-gradient(90deg, #35a98a 0%, #6dd400 100%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }

  footer {
    @apply container mx-auto py-7 max-lg:px-5;

    .info {
      @apply flex-between;

      p {
        @apply text-sm font-medium;

        span {
          @apply text-primary mx-0.5;
        }
      }
    }

    hr {
      @apply my-7 text-[#424245];
    }

    .links {
      @apply flex flex-col lg:flex-row lg:items-center justify-between max-lg:mt-5 gap-5 text-sm;

      ul {
        @apply lg:divide-x flex flex-col lg:flex-row gap-2.5;

        li {
          @apply lg:px-5 cursor-pointer hover:text-primary transition-all duration-300 ease-in-out;
        }
      }
    }
  }
}
